#*
*.sublime-*
*~
.#*
.project
.settings
**/.idea/
**/*.iml

.DS_Store
query_string.y.go.tmp
/analysis/token_filters/cld2/cld2-read-only
/analysis/token_filters/cld2/libcld2_full.a
/cmd/bluge/bluge
vendor/**
!vendor/manifest
/y.output
/search/query/y.output

*.test
tags
.v0
test/logs
test/index

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
